/* blue = #075aaa */
/* red = #eb2226 */
body {
	font-family: Arial, Helvetica, sans-serif;
}
p.menu{
	text-align:center;
}

b.key {
	color:#075aaa;
}
:root{
	--intro_h:150vh;
	--h: 370vh;
	--h3: 420vh;
/*				--graph1_h: calc(var(--intro_height) + var(--h));*/
}
#intro{
	/*background-color: gray;*/
	top:20vh;
	position: relative;
	height:var(--intro_h);
}
#first{
	/*background-color: coral;*/
	top:20px;
	position: relative;
	width: 45%;
	text-align:justify;
	height: var(--h);


/*				height: 100%;*/
}


.white{
	height:150vh;
}
#growth{
	width:43%;
	right:0;
	top: var(--intro_h);
	height: var(--h);
/*				background-color: lightsteelblue;*/
	position:absolute;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}
#graph1{
	width:43%;
	right:0;
	top: calc(var(--h) + var(--intro_h) - 9vh);
	height: var(--h);
/*				background-color: coral;*/
	position:absolute;
	overflow: hidden;
	
}
#graph2{
	width:43%;
	right:0;
	top: calc(2*var(--h) + var(--intro_h) - 18vh);
	height: var(--h);
/*				background-color: skyblue;*/
	position:absolute;
/*				z-index: 20;*/
	overflow: hidden;
}
#graph3{
	width:43%;
	right:0;
	top: calc(3*var(--h) + var(--intro_h) - 27vh);
	height: var(--h3);
/*				background-color: coral;*/
	position:absolute;
/*				z-index: 20;*/
	overflow: hidden;
}
.dataPanel{
	top:75vh;
	position: relative;
}

.end {
	top: 20vh;
	position:relative;
	height:30vh;
}

.blanks{
	height: 90vh;
}
.progress-bar {
    background: linear-gradient(to right, #eb2226 var(--scroll), transparent 0);
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    z-index: 1;
}

.footnote-anchor {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  font-weight: 600;
  padding: 0.1em 0.3em;
  margin: 0.2em;
  font-size: 0.75em;
  cursor: pointer;
}

#footnote-container {
  position: absolute;
  z-index: 200;
  top: 300px;
  left: 300px;
  width: 20em;
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  padding: 0.9em 1em 1.1em;
}

.table {
	width:100%;
	display:block;
	top: calc(4*var(--h) + var(--intro_h) - 36vh);
	position:relative;
}

.summary-panel {
	width:33.3%;
	float:left;
	clear:right;
	
}
.container {
	padding:2em 3em;
	text-align:left;
}

